body {
    background-color: #130007;
    color: #F2F1E9;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}

a {
    color: #F2F1E9;
}

a:hover {
    color: #F2F1E9;
    text-decoration: none;
}

#container {
    background-color: #25000e;
   max-width: 900px;
    width: 90%;
    margin: 20px auto;
    border: 4px solid #805465;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid #1F0F26;
    background: linear-gradient(135deg, #5d0124, #380116, #000000);
    border-radius: 20px;
}

header h1 {
    font-size: 50px;
    color: #F2F1E9;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    
}

nav {
    text-align: center;
    border-bottom: 2px solid #130007;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav li {
    display: inline-block;

}

nav li a {
    display: block;
    background: linear-gradient(to bottom, #380116, #5d0124);
    color: #F2F1E9;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

nav li a:hover {
    background: linear-gradient(to bottom, #4b011d, #25000e);
    transform: scale(1.05);
    box-shadow: 0 0 10px #805465;
}

main h2 {
    text-align: center;
    color: #F2F1E9;
    font-size: 25px;
}

.multi_col {
    display: flex;
   
}

section, 
aside {
    border-radius: 10px;
    border: 2px solid #8C8B88;
    margin: 20px;
    padding: 20px;

}

section {
    width: 50%;
    
}

aside {
    width: 50%;
}

section img {
    border-radius: 10px;
    border: 2px solid #25000e;
    width: 100%;
}

aside img {
 border-radius: 10px;
    border: 2px solid #25000e;
    width: 100%;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.img_style {
    width: 75%;
    border-radius: 10px;
    border: 2px solid #BFBFBD;
    box-shadow: 2px 2px 5px #25000e;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #8C8B88;
}

main h3 {
    text-align: center;
    color: #F2F1E9;
    font-size: 25px;
}

.scroll-gallery {
    max-height: 450px;  
    overflow-y: scroll;
    border: 2px solid #805465;
    border-radius: 10px;
    padding: 10px;
}
.scroll-gallery img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

iframe {
    display: block;
    margin: 20px auto;
}

.aboutme {
    width: 50%;
    height: 50%;
    
}

.aboutme p {
    text-align: center;  
}

.aboutme ul {
    text-align: left;
    margin: 0 auto; 
    display: inline-block; 
}

.spotify_player iframe {
    width: 100%;
    max-width: 800px;
    height: 352px;
}

.about-layout section {
    width: 30%;  
}

.about-layout aside {
    width: 70%;  
}

.horror_map iframe {
  width: 100%;
  max-width: 600px; 
  margin: 1rem auto;
  display: block;
}

.spotify-text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #F2F1E9;
    text-align: center;
    margin-bottom: 10px; 
}

.tenor-gif-embed,
.spotify_player {
    border-radius: 12px;
}

.spotify_player {
    max-width: 600px; 
    width: 100%; 
    margin: 20px auto;  
    border-radius: 12px;  
    overflow: hidden; 
}

.about-photos {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;       
}

.about-photos img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(242, 241, 233, 0.15);
}